.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff4e2;
}

.locationContainer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.changeLocation{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location{
    font-weight: bold;
    font-size: 14px;
}

.angleDown{
    margin-left: 10px;
    margin-top: 5px;
}

.searchContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 12px;
    margin-left: 20px;
    border-radius: 10px;
    min-width: 65%;
    max-width: 100%;
    text-decoration: none;
    color: black;
}

.searchFor{
    margin-left: 5px;
}

.searchItem{
    margin-left: 5px;
}

.user-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.user-icon{
    font-size: 24px;
}

.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.cart:hover{
    cursor: pointer;
}

.cart-icon{
    font-size: 24px;
}

.link{
    text-decoration: none;
    color: black;
}

.container-div {
    position: absolute;
    height: 30px;
    /* width: 150px; */
    /* text-align: center; */
    color: rgb(128, 124, 124);
    /* right: 450px; */
    left: 110px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .line {
    display: block;
    animation: spin_words 3s ease-in-out infinite;
    padding: 5px;
    margin-top: 0px;
    width: 150px;
    text-align: left;
    font-size: 15px;
    list-style-type: none;
  }
  
  @keyframes spin_words {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }